[Unit]
Description=ModuleOT POST service
After=network.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/chmod +x /usr/bin/motPost
ExecStart=/usr/bin/motPost

[Install]
WantedBy=multi-user.target
